@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bloggie.Web</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item"
                                   asp-area=""
                                   asp-controller="AdminTags"
                                   asp-action="Add">Add Tag</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                   asp-area=""
                                   asp-controller="AdminTags"
                                   asp-action="List">List Tags</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                   asp-area=""
                                   asp-controller="AdminBlogPosts"
                                   asp-action="Add">Add Blog Post</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                   asp-area=""
                                   asp-controller="AdminBlogPosts"
                                   asp-action="List">List Blog Post</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                   asp-area=""
                                   asp-controller="AdminUsers"
                                   asp-action="List">List Users</a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>

            <div class="d-flex align-items-center">
                @if (signInManager.IsSignedIn(User))
                {
                    <div class="me-3 text-light">
                        @User?.Identity?.Name
                    </div>
                    <a class="btn me-3 bg-light text-dark"
                   asp-controller="Account"
                   asp-action="Logout"
                   asp-area="">
                        Log Out
                    </a>

                }
                else
                {
                    <a class="btn me-3 bg-light text-dark"
                   asp-controller="Account"
                   asp-action="Register"
                   asp-area="">
                        Register
                    </a>
                    <a class="btn me-3 bg-light text-dark"
                   asp-controller="Account"
                   asp-action="Login"
                   asp-area="">
                        Login
                    </a>
                }
            </div>
        </div>
    </nav>
</header>